:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  --primary: #1363df;
  --secondary: #ff6f38;
  --dark-1: #172026;
  --dark-2: #181c24;
  --dark-3: #172026;
  --dark-4: #06283D;
  --dark-5: #1B252C;
  --dark-6: #545d63;
  --light-gray: #F4F5F5;
}
